html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 600px;
  cursor: pointer;
  display: none;
  background: #51626f; }
  #mainContent img,
  #mainContent div {
    position: absolute; }

.hide {
  opacity: 0; }

#bgExit {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 600px;
  border: 1px solid black;
  cursor: pointer; }
