#container_dc,
#klLeft,
#klRight {
	height: 600px;
	top: 0
}

#klBottom,
#klTop {
	left: 0;
	width: 300px;
	height: 1px
}

#container_dc,
.cta,
.ctaLabel,
.keyline,
.ltrArrow,
.posAb {
	position: absolute
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline
}

@font-face {
	font-family: FrutigerNeueW01-Regular;
	src: url(aa94077e-cdcd-4e33-abe0-ddcfe27e3485.woff) format("woff")
}

body,
body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0
}

#closeLegalsBut,
#ctaText,
#discInner,
#legalsPanelInner,
#txt_fortodays,
.fontFix {
	text-rendering: optimizeLegibility!important;
	-webkit-font-smoothing: antialiased!important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: visible;
	-ms-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale
}

.fauxBold {
	font-weight: 700
}

#container_dc {
	width: 300px;
	background-color: #51626f;
	left: 0;
	margin: auto;
	overflow: hidden
}

#startPlate,
.zeroed {
	top: 0;
	left: 0
}

.padded {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.keyline {
	background-color: #000;
	z-index: 1000
}

#startPlate,
.cta {
	background-color: #51626f
}

#klLeft {
	left: 0;
	width: 1px
}

#klRight {
	left: 299px;
	width: 1px
}

#klTop {
	top: 0
}

#klBottom {
	top: 599px
}

.cta {
	height: 23px;
	font-family: FrutigerNeueW01-Regular;
	font-size: 12px;
	border: 1px solid #fff;
	cursor: pointer;
	z-index: 201
}

#vertBar_1,
#vertBar_4 {
	background-color: #59b337
}

#vertBar_2,
#vertBar_5 {
	background-color: #004fb6
}

.ctaLabel {
	left: 7px;
	top: 5px;
	color: #FFD900
}

#txt_fortodays,
.mainText {
	color: #fff;
	font-family: FrutigerNeueW01-Regular
}

.ltrArrow {
	right: 5px;
	top: 6px;
	width: 7px;
	height: 11px;
	background-image: url(ltrArrow.png)
}

#clickThrough,
#startPlate,
.vertBar {
	height: 600px;
	position: absolute
}

#clickThrough {
	left: 0;
	top: 0;
	width: 300px;
	cursor: pointer
}

.vertBar {
	top: 0;
	z-index: 15
}

#vertBar_1 {
	left: 2px;
	width: 1px
}

#vertBar_2 {
	left: 4px;
	width: 1px
}

#vertBar_3 {
	left: 6px;
	width: 3px;
	background-color: #ffd900
}

#vertBar_4 {
	left: 12px;
	width: 1px
}

#vertBar_5 {
	left: 14px;
	width: 1px
}

#vertBar_6 {
	left: 16px;
	width: 1px;
	background-color: #ffd900
}

#startPlate {
	width: 300px
}

.mainText {
	font-size: 14px;
	line-height: 14px
}

#headline {
	position: absolute;
	top: 36px;
	left: 38px;
	width: 240px;
	height: 20px;
	opacity: 0
}

.stripe {
	left: 0;
	top: 0;
	position: absolute;
	background-image: url(stripe.jpg);
	width: 210px;
	height: 264px;
	background-size: 210px 264px;
	background-repeat: no-repeat;
	opacity: .3
}

.stripeMask {
	position: absolute;
	left: 52px;
	top: 148px;
	width: 230px;
	height: 0;
	overflow: hidden
}

#mainAnim,
#vingette {
	left: 0;
	top: 0;
	width: 300px;
	height: 600px;
	background-size: 300px 600px;
	position: absolute;
	background-repeat: no-repeat
}

#vingette {
	background-image: url(vingette.png);
	opacity: .4
}

#mainAnim {
	background-image: url(mainImage.jpg)
}

#heroLine,
.heroLine {
	top: 85px;
	left: 40px;
	position: absolute;
	background-image: url(heroLine.svg);
	width: 230px;
	height: 105px;
	background-size: 230px 105px;
	background-repeat: no-repeat;
	opacity: 0
}

#copy2,
.copy2 {
	top: 73px;
	left: 38px;
	position: absolute;
	background-image: url(copyTwo.svg);
	width: 241px;
	height: 256px;
	background-size: 241px 256px;
	background-repeat: no-repeat;
	opacity: 0
}

#copy1,
.copy1 {
	top: 99px;
	left: 43px;
	position: absolute;
	background-image: url(copy1.svg);
	width: 230px;
	height: 120px;
	background-size: 230px 120px;
	background-repeat: no-repeat;
	opacity: 0
}

#disc,
#legalsPanel {
	width: 300px;
	cursor: pointer;
	background-color: #fff
}

#cta,
#ctaText {
	height: 45px;
	position: absolute
}

#cta {
	left: 53px;
	top: 352px;
	width: 208px;
	border-radius: 8px;
	background-color: #ffd900;
	opacity: 0
}

#ctaText {
	left: 0;
	top: 7px;
	font-family: FrutigerNeueW01-Regular;
	width: 100%;
	font-size: 16px;
	line-height: 33px;
	display: block;
	letter-spacing: -.5px;
	text-align: center;
	color: #51626f
}

#aviva_logo {
	right: 0;
	top: 490px;
	position: absolute;
	background-image: url(aviva_logo.svg);
	width: 115px;
	height: 56px;
	background-size: 115px 56px;
	background-repeat: no-repeat
}

#disc {
	position: absolute;
	height: 31px;
	bottom: 0;
	z-index: 100
}

#txt_fortodays {
	left: 64px;
	top: 518px;
	right: 134px;
	position: absolute;
	width: 150px;
	height: auto;
	font-size: 12px;
	line-height: 11px;
	display: block;
	text-align: left
}

#discInner {
	left: 5px;
	bottom: 5px;
	position: absolute;
	font-family: FrutigerNeueW01-Regular;
	width: 280px;
	height: auto;
	font-size: 10px;
	line-height: 11px;
	color: #000;
	display: block;
	text-align: left
}

#closeLegalsBut,
#legalsPanelInner {
	position: absolute;
	font-family: FrutigerNeueW01-Regular;
	font-size: 12px;
	color: #000;
	display: block;
	text-align: left
}

#legalsPanel {
	position: absolute;
	height: 600px;
	top: 600px;
	left: 0;
	z-index: 400;
	opacity: 0
}

#legalsPanel #topBar {
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	height: 5px;
	background-color: #fff;
	z-index: 30
}

#legalsPanelInner {
	left: 15px;
	top: 15px;
	width: 260px;
	height: auto;
	line-height: 16px;
	padding: 0 0 50px
}

#closeLegalsBut {
	left: 245px;
	top: 580px;
	width: 50px;
	height: 20px;
	line-height: 13px
}